<form class="register-form">
  <div class="register-container">

    <img src="https://github.com/UPC-PaxTech/uTime/blob/main/img/logoutime.png?raw=true" alt="" class="logo">

    <h1 class="title">{{'register.title' | translate}}</h1>
    <p class="subtitle">
      {{'register.subtitle' | translate}}
      <a routerLink="/iam/login" class="login-link">{{'register.logIn' | translate}}</a>
    </p>

    <mat-button-toggle-group
      name="isProvider"
      [(ngModel)]="isProvider"
      (ngModelChange)="toggleChange.emit($event)"
      class="toggle-group"
    >
      <mat-button-toggle class="button-toggle" [value]="false">{{'register.Client' | translate}}</mat-button-toggle>
      <mat-button-toggle class="button-toggle" [value]="true">{{'register.Provider' | translate}}</mat-button-toggle>
    </mat-button-toggle-group>

    <div class="form-row">
      <mat-form-field appearance="fill" class="half-width">
        <mat-label>{{'register.name' | translate}}</mat-label>
        <input matInput type="text" placeholder="">
      </mat-form-field>

      <mat-form-field appearance="fill" class="half-width">
        <mat-label>{{'register.last' | translate}}</mat-label>
        <input matInput type="text" placeholder="">
      </mat-form-field>
    </div>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{'register.email' | translate}}</mat-label>
      <input matInput type="email" placeholder="">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{'register.password' | translate}}</mat-label>
      <input matInput type="password" placeholder="">
    </mat-form-field>


    <button mat-raised-button color="primary" class="register-button" (click)="onRegister()">{{'register.create' | translate}}</button>


  </div>
</form>
