<form class="register-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="register-container">
    <img src="https://github.com/UPC-PaxTech/uTime/blob/main/img/logoutime.png?raw=true" alt="" class="logo">

    <h1 class="title">{{ 'login.title' | translate }}</h1>
    <p class="subtitle">
      {{ 'login.subtitle' | translate }}
      <a routerLink="/iam/register" class="login-link">{{ 'login.register' | translate }}</a>
    </p>

    <mat-button-toggle-group
      name="isProvider"
      [(ngModel)]="isProvider"
      (ngModelChange)="toggleChange.emit($event)"
      class="toggle-group"
    >
      <mat-button-toggle class="button-toggle" [value]="false">{{'register.Client' | translate}}</mat-button-toggle>
      <mat-button-toggle class="button-toggle" [value]="true">{{'register.Provider' | translate}}</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ 'login.email' | translate }}</mat-label>
      <input matInput type="email" formControlName="email" placeholder="">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ 'login.password' | translate }}</mat-label>
      <input matInput type="password" formControlName="password" placeholder="">
    </mat-form-field>

    <button mat-raised-button color="primary" class="register-button" type="submit">
      {{ 'login.logIn' | translate }}
    </button>

    <p *ngIf="loginError" class="error">Invalid email or password</p>

  </div>
</form>
