<div class="grid">
  <div class="left-column">
    <div class="back-button">
      <button mat-button routerLink="/client">
        <<mat-icon>arrow_back</mat-icon> Back>
      </button>
    </div>
    <app-staff-list [WorkerList]="worker"></app-staff-list>
  </div>

    <div class="right-column">
        <app-date-picker (dateSelected)="onDateSelected($event)"></app-date-picker>

        <div *ngIf="availableTimes.length > 0">
            <h3>Select a time:</h3>
            <button *ngFor="let time of availableTimes" mat-button>{{ time }}</button>
        </div>
    </div>
</div>
