.main-column {
  flex: 1;
  min-width: 300px;
  max-height: 100%;
  position: sticky;
  top: 24px;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 2rem;
}

h1 {
  text-align: left;
  margin-top: 3rem;
  margin-left: 3rem;
}
