<div class="login-wrapper">
  <!-- Sección izquierda con slideshow -->
  <div class="left-section">
    <div class="slideshow">
      <img
        *ngFor="let image of slideImages; let i = index"
        [src]="image"
        class="slide"
        [class.active]="i === activeIndex"
        alt=""
      />
    </div>
    <div class="overlay-content">
      <button class="back-button" onclick="window.location.href='https://upc-paxtech.github.io/uTime-Landing-Page/'">
        ← Back to website
      </button>
    </div>

    <!-- Indicadores -->
    <div class="indicators">
    <span
      *ngFor="let img of slideImages; let i = index"
      class="indicator"
      [class.active]="i === activeIndex"
      (click)="setSlide(i)"
    ></span>
    </div>


  </div>

  <!-- Sección derecha con formulario -->
  <div class="right-section">
    <app-login-form/>
  </div>
</div>
