.title{
  text-align: center;
  justify-content: center;
  align-items: center;
}
.appointments-content {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.upcoming-column {
  flex: 0 0 250px; /* o el ancho que necesites */
}

.appointments-left {
  flex: 1;
}

.appointments-right {
  flex: 1;
}
