<header class="toolbar">
  <div class="left-section">
    <button class="icon-button" aria-label="Logout" [routerLink]="'/logout'">
      <span class="material-icons">logout</span>
    </button>
  </div>

  <div class="center-section">
    <img src="https://raw.githubusercontent.com/UPC-PaxTech/uTime/refs/heads/develop/img/logoutime.png" alt="uTime Logo" class="logo-img">
  </div>

  <div class="right-section">
    <button class="icon-button" aria-label="Profile" [routerLink]="'/profile'">
      <span class="material-icons">person</span>
    </button>
  </div>
</header>
