<div class="register-wrapper">
  <!-- Sección izquierda con slideshow -->
  <div class="register-left-section">
    <div class="register-slideshow">
      <img
        *ngFor="let image of slideImages; let i = index"
        [src]="image"
        class="register-slide"
        [class.active]="i === activeIndex"
        alt=""
      />
    </div>
    <div class="register-overlay-content">
      <button class="register-back-button" onclick="window.location.href='https://upc-paxtech.github.io/uTime-Landing-Page/'">
        ← Back to website
      </button>
    </div>

    <!-- Indicadores -->
    <div class="register-indicators">
      <span
        *ngFor="let img of slideImages; let i = index"
        class="register-indicator"
        [class.active]="i === activeIndex"
        (click)="setSlide(i)"
      ></span>
    </div>
  </div>

  <!-- Sección derecha con formulario -->
  <div class="register-right-section">
    <!-- Texto + Formulario -->
    <div class="register-center-content">
      <div class="register-container">
        <mat-button-toggle-group [(ngModel)]="isProvider" (ngModelChange)="toggleForm($event)">
          <mat-button-toggle class="button-toggle" [value]="false">Client</mat-button-toggle>
          <mat-button-toggle class="button-toggle" [value]="true">Provider</mat-button-toggle>
        </mat-button-toggle-group>

        <!-- Muestra el formulario de cliente -->
        <app-register-form-client *ngIf="!isProvider"></app-register-form-client>

        <!-- Muestra el formulario de proveedor -->
        <app-register-form-provider *ngIf="isProvider"></app-register-form-provider>
      </div>
    </div>
  </div>
</div>
