<div class="main-container">
  <div class="salon-grid">
    <div class="left-column">
      <div class="back-button">
        <button mat-button routerLink="/client">
          <<mat-icon>arrow_back</mat-icon> Back>
        </button>
      </div>

      <div class="salon-info">
        <h1>{{salon.name}}</h1>
        <h2> <mat-icon fontIcon="location_on"></mat-icon> {{salon.location}} </h2>
        <hr>

        <div class="socials">
          <a [href]="profile.socials.instagram" target="_blank">
            <i class="fab fa-instagram"></i> Instagram
          </a>
          <a [href]="profile.socials.tiktok" target="_blank">
            <i class="fab fa-tiktok"></i> TikTok
          </a>
        </div>
      </div>

      <div class="salon-reviews">
        <app-review-list [reviews]="reviews"></app-review-list>
      </div>
    </div>

    <div class="right-column">
      <mat-card>
        <img matCardImage [src]="salon.imageURL" alt="Salon image">
        <app-service-list></app-service-list>
      </mat-card>
    </div>
  </div>
</div>
