<mat-card class="staff-item">
  <div class="staff-content">
    <img class="staff-image" [src]="worker.foto" alt="Staff photo" />

    <div class="staff-info">
      <div class="staff-name">{{ worker.nombre }}</div>
      <div class="staff-role">{{ worker.especializacion }}</div>
    </div>

    <div class="staff-action">
      <button mat-button color="primary">
        {{ 'dashboard.viewSchedule' | translate }} <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
