<mat-button-toggle-group [value]="currentLang" appearance="standard" aria-label="Preferred Language" name="language">
    <mat-button-toggle  *ngFor="let language of languages"
                        (click)="useLanguage(language.label)"
                       [aria-label]="language.label"
                       [value]="language.label">
      <img [src]="language.flag" alt="Flag-language" width="24" height="16" style="margin-right: 8px;"/>
      {{ language.label.toUpperCase()}}
    </mat-button-toggle>
</mat-button-toggle-group>
