<header class="toolbar">
  <div class="left-section">
    <button class="icon-button" aria-label="Home">
      <span class="material-icons">home</span>
    </button>

    <div class="search-bar">
      <span class="material-icons">search</span>
      <input type="text" placeholder="Search">
    </div>
  </div>

  <div class="center-section">
    <img src="https://raw.githubusercontent.com/UPC-PaxTech/uTime/refs/heads/develop/img/logoutime.png" alt="uTime Logo" class="logo-img">
  </div>

  <div class="right-section">
    <app-language-switcher></app-language-switcher>
    <button class="icon-button" aria-label="Profile" [routerLink]="'/client/profile'">
      <span class="material-icons">person</span>
    </button>
  </div>

  <div class="right-section">
    <button class="icon-button" aria-label="Notifications">
      <span class="material-icons">notifications</span>
      <span class="notification-badge">1</span>
    </button>
    <button class="icon-button" aria-label="Profile">
      <span class="material-icons">person</span>
    </button>
    <button class="icon-button" aria-label="Logout">
      <span class="material-icons">logout</span>
    </button>
  </div>
</header>
