.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ddd;
  padding: 0.5rem 1rem;
}
.logo {
  height: 40px;
}
.logo-img {
  height: 40px;
  object-fit: contain;
}

.left-section, .center-section, .right-section {
  display: flex;
  align-items: center;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  position: relative;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0 8px;
  border-radius: 999px;
  margin-left: 10px;
}

.search-bar input {
  border: none;
  outline: none;
  padding: 6px;
  background: none;
}

.notification-badge {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: red;
  color: white;
  font-size: 10px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
